/*Body Styles*/

body{
	margin: 0;
	font-family: Hetvetica, Arial, sans-serif;
	font-size: 20px;
	line-height: 30px;
	
}

/*Header styles*/

header{
	background-color: #d14635;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

header h1{
	color: white;
	font-size: 50px;

}
header img{
	border-radius: 170px;
	width: 300px;
	border: 20px solid white;
}

/*H1 and H2 Styles*/

h1, h2{
	font-family: 'Press Start 2P', cursive;
}

h2{
	font-size: 30px;
	color: #e70c19;
	margin: 40px 0 10px;
}

/*Main Styles*/

main{
	margin: 0 auto;
	max-width: 800px;
	padding: 20px;
}

main img{
	max-width: 100%;
}

/*Atributes Styles*/
a{
	color: #e70c19;
}
a:hover{
	background-color: #483a94;
	color: white;
}

/*Footer Styles*/

footer{
	background-color: #d14635;
	text-align: center;
	color: white;
	padding: 50px;
}

footer p{
	margin: 0;
}

footer a{
	color: white;
}

/*Paragraph Styles*/

p.caption{
	text-align: center;
	color:#99999999;
	font-style: italic;
	margin-top: 0;
}